<%- include('../layouts/header'); %>

    <section class="home_bnr p-0" id="Home">
        <div class="owl-carousel owl-theme custom1" id="">
            <div class="item">
                <img src="/web_assets/images/home_banner_1.jpg" alt="banners" />
            </div>
            <div class="item">
                <img src="/web_assets/images/home_banner_2.jpg" alt="banners" />
            </div>
            <div class="item">
                <img src="/web_assets/images/home_banner_3.jpg" alt="banners" />
            </div>
            <div class="item">
                <img src="/web_assets/images/home_banner_4.jpg" alt="banners" />
            </div>
        </div>
    </section>

    <section class="the_week" id="1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about_cnt">
                    <h1 class="home_title text-center">
                        POPIL TUNES
                    </h1>
                    <!-- <p><b> With Popil, its easy to find the right music and podcast for all your moments. </b>The songs
                        in our library have been re-mastered and are available in the highest quality; Making us one of
                        the only applications in the region to create a High-Definition Digital Library of our music/
                        podcast. As a listener, our platform is designed so that you can customize it to your
                        preferences. With our Offline Download option, you can organize and play your content while on
                        the go with our Popil Tunes App at your fingertips, without the need for a data connection, our
                        Audio Restoration and Clean-Up removes all noise, allowing you to enjoy High Quality Music of
                        the New Age on Old Melodies from the Past.</p> -->
                        <p>
                            Popil tunes is a platform made for independent artists and creators. Our platform
                            consists of different arrays of interest and opportunities for both creators and users
                            like songs, podcasts, audio books and much more. Popil also aims to promote and
                            preserve regional art and culture through our platform, by combining the amenities
                            of the modern world with the knowledge and stories of the past. Although music is
                            said to be universal, words are unique to each dialect or region, expressing
                            emotions that only native speakers understand. And our platform is made exactly
                            for that. Our library features a variety of regional artists. The songs in our library
                            have been re-mastered and are available in the highest quality. In this highly
                            competitive world of music, we are committed to bringing out regional art and content.
                            
                        </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <img src="/web_assets/images/c1.png" alt="albums" />
                            <h3> Remastered Audio </h3>
                            <p>Enhanced, clean audio for the best listening experience.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <img src="/web_assets/images/c2.png" alt="albums" />
                            <h3> Podcast </h3>
                            <p>Informative, entertaining weekly episodes for all.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <!-- <img src="/web_assets/images/c3.png" alt="albums" /> -->
                            <img src="/web_assets/images/personalized_1.jpg" alt="albums" />
                            <h3> Personalized Music Experience </h3>
                            <p>Our application shows and suggests only what you like.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <img src="/web_assets/images/c4.png" alt="albums" />
                            <h3> Hall Of Fame</h3>
                            <p>Tribute to the pioneers of music</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <img src="/web_assets/images/c5.png" alt="albums" />
                            <h3> Popil Buds</h3>
                            <p>Our upcoming talents </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="the_week_text">
                        <a href="">
                            <!-- <img src="/web_assets/images/c6.png" alt="albums" /> -->
                            <img src="/web_assets/images/offline_1.jpg" alt="albums" />
                            <h3> Offline use</h3>
                            <p>Download your favorite songs or podcast for offline use.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Artists">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about_cnt">
                    <h1 class="home_title text-center">
                        Artists You May Like
                    </h1>
                </div>
            </div>

        </div>
        <div class="owl-carousel owl-theme btns_set" id="Artists_list">
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a1.png" alt="albums" />
                    <h4>Chorun mugli</h4>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a2.png" alt="albums" />
                    <h4>Dambi Jini</h4>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a3.png" alt="albums" />
                    <h4>Marge Ete</h4>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a4.png" alt="albums" />
                    <h4>Micheal Migri</h4>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a5.png" alt="albums" />
                    <h4>Omin Ering</h4>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/web_assets/images/a6.png" alt="albums" />
                    <h4>Rito Riba</h4>
                </a>
            </div>
        </div>
    </section>

    <section class="my_team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about_cnt">
                    <h1 class="home_title text-center">
                        Meet The Team
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="owl-carousel owl-theme btns_set" id="meet_customer">
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t1.png">
                        </div>
                        <strong> Haggai Rongmei</strong>
                        <span>Music & Technical Consultant</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t2.png">
                        </div>
                        <strong> Kadum Tarang </strong>
                        <span>Photographer</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t3.png">
                        </div>
                        <strong> Rishov Bhattacharjee </strong>
                        <span>Recording Engineer</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t4.png">
                        </div>
                        <strong> Ronald Padung </strong>
                        <span>Managing director and Spokes Person</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t5.png">
                        </div>
                        <strong> Todak doye </strong>
                        <span>Creative Director</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/t6.png">
                        </div>
                        <strong> Tomseng Taki </strong>
                        <span>Marketing Consultant</span>
                    </div>
                    <div class="item">
                        <div class="item_img">
                            <img src="/web_assets/images/legal_consultant.JPG">
                        </div>
                        <strong> Sunny Tayeng </strong>
                        <span>Legal Consultant</span>
                    </div>
					 
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme btns_set mt-5" id="video_slider">
            <div class="item">
                <div class="video_players">
                    <video width="100%" poster="images/v1.png" controls>
                        <source src="/web_assets/images/d.mp4" type="video/mp4">
                        <source src="/web_assets/images/d.ogg" type="video/ogg">
                        </object>
                    </video>
                </div>
            </div>
            <div class="item">
                <div class="video_players">
                    <video width="100%" poster="images/v1.png" controls>
                        <source src="/web_assets/images/d.mp4" type="video/mp4">
                        <source src="/web_assets/images/d.ogg" type="video/ogg">
                        </object>
                    </video>
                </div>
            </div>
            <div class="item">
                <div class="video_players">
                    <video width="100%" poster="images/v1.png" controls>
                        <source src="/web_assets/images/d.mp4" type="video/mp4">
                        <source src="/web_assets/images/d.ogg" type="video/ogg">
                        </object>
                    </video>
                </div>
            </div>
        </div>
    </section>

    <section class="the_week" id="Contact" style="background: #fff;">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="contact_box text-center ">
                        <img src="/web_assets/images/01.png" alt="Mountains">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact_box text-center ">
                        <img src="/web_assets/images/02.png" alt="Mountains">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact_box text-center ">
                        <img src="/web_assets/images/03.png" alt="Mountains">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact_box text-center ">
                        <img src="/web_assets/images/04.png" alt="Mountains">

                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('../layouts/contact_us'); %>

<%- include('../layouts/footer'); %>
