<section class="the_week" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about_cnt">
                <h1 class="home_title text-center">
                    Contact Us
                </h1>
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p> -->
            </div>
        </div>
        <div class="row mb-5 mt-5">
            <div class="col-md-4">
                <div class="contact_box text-center designs">
                    <img src="/web_assets/images/d1.png" alt="Mountains">
                    <h4>Vist Us </h4>
                    <p> Pane Hotel, Lower Banskota, Pasighat, East Siang District, Pin – 791102, Arunachal Pradesh
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact_box text-center designs">
                    <img src="/web_assets/images/d2.png" alt="Mountains">
                    <h4>Call Us </h4>
                    <p> +919362977177</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact_box text-center designs">
                    <img src="/web_assets/images/d3.png" alt="Mountains">
                    <h4>Write Us </h4>
                    <p> popiltunes2022@gmail.com </p>
                </div>
            </div>
        </div>
    </div>
</section>