<footer class="footer designs">
    <div class="container">
        <div class="row align-items-center  ">

            <div class="col-sm-6 mb-3 mb-md-0">
                <p>
                    <a href="https://www.facebook.com/profile.php?id=100086135245944"> <img src="/web_assets/images/f.png"> </a>
                    <a href=""> <img src="/web_assets/images/t.png"> </a>
                    <a href="https://instagram.com/popiltunes?igshid=YmMyMTA2M2Y="> <img src="/web_assets/images/i.png"> </a>
                    <a href="https://www.youtube.com/@popiltunes"> <img src="/web_assets/images/y.png"> </a>
                </p>
                <p class="mt-3 terms">
                    <a href="/data_deletion_policy"> Data Deletion Policy </a> |
                    <a href="/terms"> Terms & Conditions</a> |
                    <a href="/privacy"> Privacy Policies</a> |
                    <a href="https://merchant.razorpay.com/policy/KLmc0OfjOWN1De/refund"> Cancellation and Refund</a> |
                    <a href="https://merchant.razorpay.com/policy/KLmc0OfjOWN1De/shipping"> Shipping & Delivery Policy</a> 
                </p>
                <!-- <p class="mt-3">© 2022 <%= appName %> App. All Rights Reserved.</p> -->
                <p class="mt-3 copy_right">2022 <a href="https://yokmointeractive.com/"> Popil Tunes - Yokmo
                    Interactive.</a> All Rights Reserved.</p>
            </div>
            <div class="col-sm-3 col-6">
                <div class="app_store">
                    <img src="/web_assets/images/play.png" alt="play-store" />
                </div>
            </div>
            <div class="col-sm-3 col-6 order-md-first">
                <div class="app_store">
                    <img src="/web_assets/images/app.png" alt="app-store" />
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="/web_assets/js/jquery_min.js"></script>
<script src="/web_assets/js/popper.min.js"></script>
<script src="/web_assets/js/bootstrap.js"></script>
<script src="/web_assets/js/owl.carousel.js"></script>
<script src="/web_assets/js/jquery.mousewheel.js"></script>
<script src="/web_assets/js/aos.js"></script>


<script>
var owl = $('#Artists_list');
owl.owlCarousel({
    loop: true,
    nav: true,
    autoplay: true,
    margin: 10,
    dots: false,
    responsive: {
        0: {
            items: 2
        },
        600: {
            items: 3
        },
        960: {
            items: 4
        },
        1200: {
            items: 6
        }
    }
});
</script>
<script>
var owl = $('#meet_customer');
owl.owlCarousel({
    loop: true,
    nav: true,
    autoplay: true,
    margin: 10,
    dots: false,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 3
        },
        960: {
            items: 3
        },
        1200: {
            items: 4
        }
    }
});
</script>
<script>
var owl = $('.custom1');
owl.owlCarousel({
    animateOut: 'slideOutDown',
    items: 1,
    loop: true,
    dots: true,
    autoplay: true,
    autoplayTimeout: 5000,
    animateOut: 'fadeOut',
    smartSpeed: 450
});
</script>
<script>
var owl = $('#video_slider');
owl.owlCarousel({
    loop: true,
    nav: true,
    margin: 15,
    dots: false,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 1
        },
        960: {
            items: 2
        },
        1200: {
            items: 2
        }
    }
});
</script>

</html>