<%- include('./layouts/header'); %>

<section class="about_banner text-center">
    <h3>About Us</h3>
</section>

<section class="about_sections">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="about_text">
                    <div class="col-md-12 my-4">
                        <div class="about_text">
                            <img src="/web_assets/images/ab1.png" alt="About" />
                        </div>
                    </div>
                    <p> We are a platform based in Arunachal Pradesh developed specifically for music and podcasts
                        in indigenous dialects/languages of North-east India. Although music is said to be
                        universal, words are unique to each dialect or region, expressing emotions that only the
                        native speakers understand. And our platform is made exactly for that. Our library features
                        a variety of regional artists who have made a name for themselves or are looking to do so in
                        the coming days. The songs in our library have been re-mastered and are available in the
                        highest quality; Making us one of the only applications in the region to create a
                        High-Definition Digital Library of our music/ podcast.
                        In this highly competitive world of music, we are committed to bringing out regional
                        artists. To value, archive, and make accessible to our people.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="about_sections">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12">
                <div class="about_text">
                    <p> At Popil, you have access to hundreds of quality podcast episodes dealing mainly with the
                        authentic history and culture of the different tribes in their regional dialects by a host
                        of different speakers. Our podcasts are not only meant to entertain but also to educate the
                        future generations with our constantly expanding library of hundreds of episodes on
                        different topics such as education, entrepreneurship, Sports, Art & culture etc. We make
                        sure that our users get what they are looking for/worth their time. So next time when you
                        want to know about the history of a tribe, place or learn the art of successful
                        entrepreneurship, you will not have to google or run for a motivational book, just sit,
                        relax and fill that coffee mug and tune in to Popil podcast because we have you covered.</p>
                    <p>You can be a listener or a contributor on our platform. As a listener, you have access to
                        over tens of thousands of different audio clips from our personally tailored library,
                        available to cater to all of your needs.</p>

                    <p>Popil Tunes provides it all, whether it's an old melody to bring back memories or a modern
                        tune to keep your spirit young.

                    </p>
                    <p>We are dedicated to bringing forth regional singers and to rejuvenate the essence of
                        local/folk music in a world filled with musicians determined or helpless to ride trends.
                        Popil strives to archive local music and make it accessible to the public. </p>
                    <p>Our platform operates on a subscription basis for listeners who can subscribe/purchase music
                        from the Application, which will go directly to homegrown artists, allowing them to generate
                        revenue through their art. </p>
                    <p>In due course of time Popil plans to extend scholarships to aspiring musicians from rural
                        regions of the North-East starting with our parent state of Arunachal Pradesh, who otherwise
                        do not have a platform to showcase themselves.</p>
                        <div class="col-md-12 my-4">
                            <div class="about_text">
                                <img src="/web_assets/images/ab3.png" alt="About" />
                            </div>
                        </div>
                    <h3>OUR LIBRARY. YOUR TUNES</h3>
                    <p>As a listener, our platform is designed so that you can customize it to your preferences.</p>
                    <p>- With our Offline Download option, you can organize and play your content while on the go
                        with our Popil Tunes App at your fingertips, without the need for a data connection.</p>
                    <p>- In terms of old melodies, our Audio Restoration and Clean-Up removes all noise when
                        transferring from Analog to Digital, allowing you to enjoy High Quality Music of the New Age
                        on Old Melodies from the Past.</p>
                        <div class="col-md-12 my-4">
                            <div class="about_text">
                                <img src="/web_assets/images/ab4.png" alt="About" />
                            </div>
                        </div>
                    <h3>FOR THE ARTIST </h3>
                    <p>As a contributor, our content is prepared at the highest quality possible using Audio
                        Re-mastering, which ensures that the stream's quality is maintained throughout.</p>
                    <p>
                        - Popil Tunes understands the difficulties of a new artist, which is why we have a section
                        for contributors where they can upload their music and earn money.
                    </p>
                    <p>- Our platform operates on a subscription basis for listeners, who can subscribe/purchase
                        music from the App, with the proceeds going directly to emerging artists, allowing them to
                        create more and do more with their talent.</p>
                    <p>- The back end for the artists, shows all the details of downloads and monetization so that
                        the whole process is transparent and easy to understand. At Popil, our priority is to help
                        the artist and excel their growth.</p>
                    <p>- the songs uploaded cannot be pirated from the application which makes it safe for the
                        artists in case of intellectual piracy and plagiarism.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('./layouts/contact_us'); %>

<%- include('./layouts/footer'); %>