<%- include('./layouts/header'); %>

    <section class="about_banner text-center">
        <h3>Data Deletion Policy</h3>
        <!-- <h4 style="color:#ffff;text-align: left;margin-left: 10px;">Effective Date: [20/05/2023]</h4> -->
    </section>
    <section class="about_sections">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="about_text">
                        <h4>Effective Date: [20/05/2023]</h4>
                        <h3>1. Introduction</h3>
                        <p>
                            This Data Deletion Policy outlines the procedures and practices followed by Popil Tunes
                            ("we," "us," or "our") regarding the deletion of user data collected through our Facebook
                            application ("App").
                            We are committed to protecting the privacy and personal information of our users and
                            ensuring compliance with applicable data protection laws.
                            This policy describes how we handle the deletion of user data when requested by the user or
                            in accordance with our data retention practices.
                        </p>
                        <h3>2. Data Collection and Usage</h3>
                        <p>Popil Tunes collects certain user data through the App to provide its services and enhance
                            user experience.
                            The types of data collected may include, but are not limited to:
                        </p>
                        <h4>2.1. User Profile Information</h4>
                        <p>We may collect and store basic user profile information provided by Facebook, such as name,
                            profile picture, email address, and other publicly available information.</p>
                        <h4>2.2. App Usage Data</h4>
                        <p>We may collect and store data related to the user's interactions with the App, including user
                            preferences, music preferences, playlists, and other usage statistics.</p>
                        <h3>3. User Rights and Data Deletion Requests</h3>
                        <p>We respect the rights of our users to control their personal data.
                            If you wish to exercise your rights or request the deletion of your data, please follow the
                            process outlined below:</p>
                        <h4>3.1. Data Deletion Request Procedure</h4>
                        <p>To request the deletion of your personal data from Popil Tunes,please contact us using the
                            contact information provided at the end of this policy.
                            We will respond to your request within the time frame mandated by applicable data protection
                            laws.</p>
                        <h4>3.2. Verification of Identity</h4>
                        <p>To ensure the security of your data, we may require you to verify your identity before
                            processing your data deletion request.
                            This verification process may involve providing additional information or documentation to
                            confirm your identity.
                        </p>
                        <h3>4. Data Retention and Deletion</h3>
                        <p>
                            We retain user data only for as long as necessary to fulfill the purposes outlined in this
                            policy or as required by law. Once the data is no longer necessary, we will promptly delete
                            or anonymize it, unless there is a legitimate reason for us to retain the data, such as
                            legal obligations or contractual requirements.
                        </p>
                        <h4>4.1. User-Initiated Data Deletion
                        </h4>
                        <p>
                            Upon receiving a valid data deletion request from a user, we will make reasonable efforts to
                            delete the requested data within the timeframe required by applicable laws. However, please
                            note that certain data may be retained for a limited period to comply with legal obligations
                            or to protect our rights.
                        </p>
                        <h4>4.2. Data Retention for App Functionality</h4>
                        <p>
                            Some data may be necessary for the continued functionality of the App or to provide ongoing
                            services to users. In such cases, the data may be retained even if a user requests its
                            deletion. We will inform users about the specific data that cannot be deleted due to
                            technical or operational reasons.
                        </p>
                        <h3>5. Security Measures</h3>
                        <p>
                            We take appropriate technical and organizational measures to safeguard the user data
                            collected through the App and protect it against unauthorized access, loss, or alteration.
                            We follow industry best practices to ensure the security and confidentiality of the data we
                            process.
                        </p>
                        <h3>6. Updates to the Policy</h3>
                        <p>
                            We reserve the right to modify or update this Data Deletion Policy from time to time. We
                            will
                            notify users of any material changes to this policy through the App or other appropriate
                            channels. We encourage users to review this policy periodically to stay informed about how
                            we handle their data.
                        </p>
                        <h3>7. Contact Information</h3>
                        <p>If you have any questions, concerns, or requests regarding this Data Deletion Policy or the
                            deletion of your personal data, please contact us at:</p>
                        <p>
                            [contact information: <br />
                            Email :- popiltunes2022@gmail.com,<br />
                            Phone :- +919362977177]

                        </p>

                        <p>
                            Note: This Data Deletion Policy is designed to provide general information and may not cover
                            all specific scenarios. For detailed information about our data

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <%- include('./layouts/contact_us'); %>

        <%- include('./layouts/footer'); %>