<%- include('./layouts/header'); %>

<section class="about_banner text-center">
    <h3>Terms & Conditions</h3>
</section>

<section class="about_sections">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="about_text">
                    <h3>Introduction</h3>
                    <p> Please read these End User Terms of Use ("Terms") carefully as they govern your use of
                        (which includes access to) Our (Popil Tunes) Popil Tunes Application (“App”) for streaming/
                        downloading music and other content, including all the music, videos, podcasts, or other
                        material that is made available through the App to any individual.</p>
                    <p>Use of the Popil Tunes Application may be subject to additional terms and conditions
                        presented by us, which are hereby incorporated by this reference into these Terms. </p>
                    <p> By signing up for, or otherwise using, the Popil Tunes Application, you agree to these
                        Terms. If you do not agree to these Terms, then you must not use the Popil Tunes Application
                        or access any Content.</p>
                    <h3>Service Provider</h3>
                    <h4>Details of ownership of the App</h4>
                    <h3>Age and eligibility requirements</h3>
                    <p> By using the Popil Tunes Application, you affirm that you are 18 years or older to enter
                        into these terms, or, if you are not, that you are 13 years or older and have obtained
                        parental or guardian consent to enter into these terms. Additionally, in order to use the
                        Popil Tunes Application and access any Content, you represent that any registration and
                        account information that you submit to us is true, accurate, and complete, and you agree to
                        keep it that way at all times.</p>
                    <h3>Service Provided by Us</h3>
                    <p> The Popil Tunes Application allows one to discover, stream and download content as well as
                        to provides a forum for people to connect, inform, and inspire others across the globe, and
                        also act as a distribution platform for Artists at large. </p>
                    <p> The Service includes also the ability for you to purchase music downloads independently from
                        the Popil Tunes Application. By registering for such Per-Download Music Service, you agree
                        that you will pay all fees and charges accrued by or in connection with including any
                        applicable purchase price, taxes and late fees at the rates in effect when the charges were
                        incurred, and that we may charge the method of payment designated during the registration
                        process.
                        All fees and charges are non-refundable. All sales are final. If you want to designate a
                        different credit card or there is a change in credit card validity or expiration date, or if
                        you believe someone has accessed the Per-Download Music Service using your device without
                        your authorization, you must contact us immediately at.
                    </p>
                    <p>In the event you purchased on the Per-Download Music Service a track or album but it fails to
                        download completely, we may allow you to retry the download by clicking the 'retry download'
                        button on the album page. In any other event of technical errors when downloading a track or
                        album, please contact Customer Service by sending an email to. </p>
                    <h3>Use of Third-Party applications, devices and open source software</h3>
                    <p>The Popil Tunes Application may be integrated with, or may otherwise interact with,
                        third-party applications, websites, and services ("Third-Party Applications") and
                        third-party personal computers, mobile handsets, tablets, wearable devices, speakers, and
                        other devices ("Devices"). Your use of such Third-Party Applications and Devices may be
                        subject to additional terms, conditions, and policies provided to you by the applicable
                        third party. We do not guarantee that Third-Party Applications and Devices will be
                        compatible with our Terms. </p>
                    <h3>Service limitations and modifications</h3>
                    <p> We use reasonable efforts to keep the Popil Tunes Application operational and to provide you
                        with a personalized, immersive audio experience. However, our service offerings and their
                        availability may change from time to time, without liability to you; </p>
                    <p> We aim to evolve and improve the Popil Tunes Application constantly, and we may modify,
                        suspend, or stop (permanently or temporarily) providing all of part of the App. We have no
                        obligation to provide any specific content through the Popil Tunes Application, and we may
                        remove particular songs, videos, podcasts, and other Content without notice.</p>
                    <p>In case of payments made for use of the features of the Popil Tunes Application, we have no
                        liability to you, nor any obligation to provide a refund to you, in connection with internet
                        or other service outages or failures that are caused by the actions of government
                        authorities, other third parties, or events beyond our control. </p>
                    <h3>Your Use of the App</h3>
                    <h4> Creating an account</h4>
                    <p> You may create a User account on the Popil Tunes Application to use all or part of the App.
                        Your username and password are for your personal use only and should be kept confidential.
                        You understand that you are responsible for all use (including any unauthorized use) of your
                        username and password. Notify our team immediately if your username or password is lost or
                        stolen, or if you believe there has been unauthorized access to your account.</p>
                    <p>We may at any time reclaim, or require you to change, your username for any reason. </p>
                    <h3>Your rights to use the Popil Tunes Application</h3>
                    <p>Subject to your compliance with these Terms (including any other applicable terms and
                        conditions), we grant to you limited, non-exclusive, revocable permission to make personal,
                        non-commercial use of the Popil Tunes Application and the Content (collectively, "Access").
                        This Access shall remain in effect unless and until terminated by you or by us. You agree
                        that you will not redistribute or transfer the Content accessed from the Popil Tunes
                        Application. </p>
                    <p>The Popil Tunes Mobile software applications and the Content are licensed, not sold or
                        transferred to you, and we retain ownership of all copies of the Popil Tunes Mobile software
                        applications and Content even after installation on your Devices. </p>
                    <h3>Proprietary Rights</h3>
                    <p> The Popil Tunes Application’s Service and the Content are the sole property of Popil Tunes.
                        All the trademarks, service marks, trade names, logos, domain names, and any other features
                        of the Popil Tunes brand are the sole property of Popil Tunes or its licensors. These Terms
                        do not grant you any rights to use any brand whether for commercial or non-commercial use.
                    </p>
                    <p>You agree to abide by the Terms and not to use the Popil Tunes Application, its Content, or
                        any part thereof in any manner not expressly permitted by these Terms. </p>
                    <h3>Payments and cancellation </h3>
                    <p> You may purchase/ download Content from the Popil Tunes Application by making the one time
                        download fees. The price of the Content may vary from time to time make changes and the same
                        will be reflected under the content on the Popil Tunes Application and will be exclusive of
                        applicable taxes. </p>
                    <p> Tax rates are based on the rates applicable. These amounts can change over time with local
                        tax requirements in your country, state, territory, county, or city. Any change in tax rate
                        will be automatically applied based on the account information you provide. </p>
                    <p> You acknowledge and understand that we may use third party partners and gateways for
                        processing any payments from you. We do not control such partners and gateways and any
                        transactions through them will be subject to separate terms and conditions of such third
                        parties / gateways. Any personal or sensitive information that you provide in relation to
                        such billing and payment shall be subject to Our Privacy Notice and/or the policies of such
                        third party partners / gateways, as the case may be. We will not be responsible for the
                        protection and privacy of your information if the payments are processed directly by such
                        third party partners / gateways without any involvement of our in the processing of the
                        payment other than providing necessary access.</p>
                    <h3>Monitoring user content</h3>
                    <p>We may, but have no obligation to, monitor or review Content on the Popil Tunes Application.
                        However, we reserve the right to remove or disable access to any Content for any or no
                        reason. We may take these actions without prior notification. </p>
                    <h3>Infringement claims</h3>
                    <p>We respect the rights of intellectual property owners. If you believe that any Content
                        infringes your copyright rights, please contact us at and we will based on the proof adduced
                        take down the content from the Popil Tunes Application. </p>
                    <h3>Suspension & Termination</h3>
                    <h4> Termination</h4>
                    <p> You may stop using the Popil Tunes Application at any time and may delete your account and
                        removing your data. You also have the option to download a copy of your data first.</p>
                    <h4> Terminations and Suspensions by us:</h4>
                    <p> We reserve the right to suspend or terminate your access to all or part of the App if: </p>
                    <p>i) you materially or repeatedly breach this Agreement; </p>
                    <p> ii) we are required to do so to comply with a legal requirement or a court order; or </p>
                    <p> iii) we believe there has been conduct that creates (or could create) liability or harm to
                        any user, other third party, etc.</p>
                    <h4>C. Notice for Termination or Suspension</h4>
                    <p>We will notify you with the reason for termination or suspension by us unless we reasonably
                        believe that to do so:

                    </p>
                    <p>i) would violate the law or the direction of a legal enforcement authority; </p>
                    <p> ii) would compromise an investigation;</p>
                    <p>iii) would compromise the integrity, operation or security of the Service; or </p>
                    <p> would cause harm to any user, other third party, etc. </p>
                    <h3>Warranty Disclaimer</h3>
                    <p> The services provided by us vide the Popil Tunes Application are on "As Is" and "As
                        Available," without any warranties of any kind, whether express, implied, or statutory.
                        Further, we and all other owners of the content on the Popil Tunes Application disclaim any
                        express, implied, and statutory warranties regarding the Popil Tunes Application content,
                        including warranties of satisfactory quality, merchantability, fitness for a particular
                        purpose, or non-infringement. Neither we nor any owner of content warrants that the Popil
                        Tunes Application or the content is free of malware or other harmful components. In
                        addition, we make no representation regarding, nor do we warrant or assume any
                        responsibility for, any third-party applications, user content, devices or any product or
                        service advertised, promoted or offered by a third party on or through the App or any
                        hyperlinked website by the internet service provider, and we are not responsible for any
                        transactions between you and any third-party providers of the foregoing. No advice or
                        information whether oral or in writing obtained by you from us shall create any warranty on
                        behalf of us. This section applies to the fullest extent permitted by applicable law.</p>
                    <h3>Limitation of liability and time for filing a claim</h3>
                    <p> You agree that your sole and exclusive remedy for any problems or dissatisfaction with the
                        services provided by the Popil Tunes Application is to uninstall the Popil Tunes Application
                        and to stop using the same. You agree that we have no obligation or liability arising from
                        or related to third-party applications or the content thereof made available through or in
                        connection with the App, and while your relationship with such third-party applications may
                        be governed by separate agreements with such third parties, your sole and exclusive remedy,
                        as with respect to us, for any problems or dissatisfaction with any third-party applications
                        or the content thereof, is to uninstall or stop using such third-party applications.

                    </p>
                    <p> In no event will we or our officers, shareholders, employees, agents, directors,
                        subsidiaries, affiliates, successors, assigns, suppliers, or licensors be liable for:

                    </p>
                    <p>(1) any indirect, special, incidental, punitive, exemplary, or consequential damages; </p>
                    <p>(2) any loss of use, data, business, or profits (whether direct or indirect), in all cases
                        arising out of the use of or inability to use Popil Tunes Application, devices, third-party
                        applications, or third-party application content, regardless of legal theory, without regard
                        to whether we had been warned of the possibility of those damages, and even if a remedy
                        fails of its essential purpose; or </p>
                    <p>(3) aggregate liability for all claims relating to Popil Tunes Application, third-party
                        applications, or third-party application content more than Rs 1,000/- </p>
                    <h3>Indemnity</h3>
                    <p>You agree to defend, indemnify and hold us harmless against any losses, expenses, costs or
                        damages (including our reasonable attorneys' fees, expert fees' and other reasonable costs
                        of litigation or proceedings) arising from, incurred as a result of, or in any manner
                        related to any claim or action based upon </p>
                    <p>1) your breach of, or failure to comply with, the terms and conditions of this Agreement, and
                        including infringement of the copyright or any intellectual property right in the Content,
                        Software or Services, </p>
                    <p> 2) your use of the Popil Tunes Application, and/or </p>
                    <p>3) the use of the Popil Tunes Application by any other person using your device. </p>
                    <p> We may, in our discretion, participate in the defense of any such claim or action and any
                        negotiations for its settlement or compromise. No settlement which may adversely affect our
                        rights or obligations shall be made without our prior written approval. We reserve the
                        right, at our own expense and on notice to you, to assume exclusive defense and control of
                        any such claim or action and then your corresponding indemnification obligation will end.
                    </p>
                    <h3>Severance and Waiver </h3>
                    <p> Unless as otherwise stated in these Terms, should any provision of these Terms be held
                        invalid or unenforceable for any reason or to any extent, the remaining provisions of these
                        Terms will not be affected, and the application of that provision shall be enforced to the
                        extent permitted by law.</p>
                    <p>Any failure by us to enforce these Terms or any provision thereof shall not waive their right
                        to do so. </p>
                    <h3>Interpretation</h3>
                    <p> In these terms, “include” or “including” means “including but not limited to,” and any
                        examples we give are for illustrative purposes.</p>
                    <h3>Governing Law</h3>
                    <p> This Agreement shall be subject to the Laws of India. In the event of any dispute the courts
                        at Pasighat, Arunachal Pradesh shall have exclusive jurisdiction.</p>
                    <h3>Dispute Resolution</h3>
                    <p> If any dispute, difference, claim or controversy arises between the Parties about the
                        validity, interpretation, implementation or alleged breach of any provision of this
                        Agreement, or anything connected or related to or incidental to this Agreement then the
                        Parties shall negotiate in good faith to endeavour to resolve the matter. However, if the
                        dispute has not been resolved by the Parties within seven (7) days after the date of receipt
                        of written notice of the dispute by either Party from the Party raising the Dispute, then
                        either Party may submit the dispute to arbitration to be conducted in accordance with the
                        provisions of the Indian Arbitration and Conciliation Act, 1996. The seat of Arbitration
                        shall be at Pasighat, Arunachal Pradesh. The arbitration proceedings shall be conducted and
                        the award shall be rendered in the English language. The award rendered by the Arbitrator
                        shall be final, conclusive and binding on all Parties to this Agreement and shall be subject
                        to enforcement in any court of competent jurisdiction. The cost of arbitration, including
                        cost of preparing and presenting its case and the fees and expenses of the Arbitrator shall
                        be shared equally by the Parties, unless the award otherwise provides.</p>
                    <h3>Changes to Terms</h3>
                    <p>We reserve the absolute right to make changes to these Terms, and will post any revisions on
                        this page. </p>
                    <h3>Feedback and Concerns</h3>
                    <p>If you have any feedback or concerns with respect to any content available on the App, please
                        contact us by filing the grievance redressal form. </p>


                </div>
            </div>

        </div>
    </div>
</section>

<%- include('./layouts/contact_us'); %>

<%- include('./layouts/footer'); %>